#about {
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 50px 15vw;
  background-color: #FFFFFF;
}

.about-info {
  padding-right: 50px;
}

.about-text {
  text-align: justify;
}

#about img {
  max-width: 100%;
  max-height: 400px;
  margin: 1rem;
  border-radius: 45%;
  float: right;
}

@media only screen and (max-width: 1000px) {
  #about {
    flex-direction: column;
  }
  .profile-pic, .about-info {
    max-width: none;
    width: 100%;
    padding: 0;
  }
  .profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
