
/* // contact information */

#contact {
  padding: 0;
  margin: 0;
  margin-right: 5vw;
  border: none;
}

#contact h1 {
  text-align: left;
  margin-left: 8vw;
  color: black;
}

.info {
  display: flex;
  margin-top: 1rem;
  padding: 1.4rem;
  margin-left: 2vw;
}

/* // column one */
.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .5rem;
  height: 50px;
  width: 40vw;
}

.links img {
  border: none;
  margin: 0 1rem;
  max-height: 40px;
}

.link:hover {
  transition: transform 0.5s;
  transform: scale(1.1);
}

.credits {
  font-size: .7rem;
  text-align: right;
  margin-right: 8vw;
  color: black;
}
