@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans|Satisfy&display=swap');

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 65px;
  background-color: #FFFFFF;
  border-bottom: 1px solid;
  padding: 10px;
  box-shadow: 0px 2px 8px #888888;
}

nav a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #B87D83;;
  text-decoration: none;
  padding: 5px;
  margin: 0 15px;

}

nav a:hover {
  border-radius: 10px;
  background-color: white;
  color: #B87D83;
  transition: font-weight 0.5s ease;
  text-decoration: none;
  font-weight: 800;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 700px;
  color: #FFFFFF;
  background: linear-gradient(132deg, #CDA4A8, #89b4e6);
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite;
}

@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
