/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-1: 600;
  --font-2: 700;
}

/*===== Colors =====*/
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
  --third-color:#fff;
  --fourth-color:rgba(146,161,176,.15);
  --fifth-color:#8892b0;
  --sixth-color: #0716f5;
  --seventh-color:#030d8f;
  --octave-color:#c521ef;
  --ninth-color:rgba(14,36,49,.15);
  --tenh-color:#2efa06;
  --eleventh-color:#1c09c7;
  --twelfth-color:black;
}

/*===== Font and typography =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margins =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-7:0.18rem;
  --mb-8: 15rem;
  --mb-9:0.75rem;
  --mb-10:.5rem;
  --mb-11: 0.4rem;
  --mb-12:1.1rem;
  --mb-13:0.8rem;
  --mb-14:4rem;
}


:root{
  --pixel-1:64px;
  --pixel-2:1024px;
  --pixel-3:4px;
  --pixel-4:1px;
  --pixel-5:45px;
  --pixel-6:40px;
  --pixel-7:49px;
  --pixel-8:30px;
  --pixel-9:43px;
  --pixel-10:18px;
  --pixel-11:11px;
  --pixel-12:0px;
  --pixel-13:10px;
  --pixel-14:200px;
  --pixel-15:25px;
  --pixel-16:213px;
  --pixel-17:12px;
  --pixel-18:75px;
  --pixel-19:27px;
  --pixel-20:17px;
  --pixel-21:5px;
  --pixel-22:80px;
  --pixel-23:50px;
  --pixel-24:300px;
  --pixel-25:8px;
}

:root{
  --per-1:100%;
  --per-2:-100%;
  --per-3:80%;
  --per-4:45%;
  --per-5:46%;
  --per-6:29%;
  --per-7:60%;
  --per-8:40%;
  --per-9:50%;
  --per-10:57%;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: var(--pixel-1);
  height: var(--mb-7);
  left: 0;
  right: 0;
  margin: auto;
  top: var(--mb-4);
  background-color: var(--first-color);
}
.section{
  padding-top: var(--mb-6);
  padding-bottom: var(--mb-4);
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: var(--pixel-2);
  display: grid;
  grid-template-columns: var(--per-1);
  grid-column-gap: var(--mb-8);
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: var(--per-1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color:var(--third-color);
  box-shadow: 0 1px 4px var(--fourth-color);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-1);
  -webkit-box-align: center;
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right:var(--per-2);
    width: var(--per-3);
    height: var(--per-1);
    padding: var(--mb-4);
    background-color: var(--second-color);
    transition: .5s;
  }
}

@media screen and (max-width: 392px){
  .nav__menu{
    display: block;
    position: fixed;
    top: var(--header-height);
    right: var(--per-2);
    width: var(--per-3);
    height: var(--per-1);
    padding: var(--mb-4);
    background-color: var(--second-color);
    transition: .5s;
  }
}

.nav__menu{
  display: block;
  -webkit-box-align: center;
  align-items: center;
  @media screen and (max-width: 392px){
      display: flex;
      position: fixed;
      top: var(--header-height);
      right: var(--per-2);
      width: var(--per-3);
      height: var(--per-1);
      padding: var(--mb-4);
      background-color: var(--second-color);
      transition: .5s;
  }
}

.resume{
  color: var(--first-color);
  border: var(--pixel-4) solid var(--first-color);
  border-radius: var(--pixel-3);
  background-color: transparent;
  cursor: pointer;
  line-height: 1;
  padding: var(--mb-9) var(--mb-2);
}

.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: var(--third-color);
}
.nav__link:hover{
  position: relative;
  text-decoration: none;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: var(--per-1);
  height: var(--mb-7);
  left: 0;
  top:var(--mb-4);
  background-color: var(--first-color);
}

.nav__logo{
  color:var(--first-color);
}

.nav__logo img{
  width: var(--pixel-5);
  height: var(--pixel-5);
}

.nav__toggle{
  color: var(--second-color);
  font-size: var(--mb-3);
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: var(--per-1);
  height: var(--mb-7);
  left: 0;
  top: var(--mb-4);
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: var(--mb-2);
}
.home__data{
  align-self: center;
}
.home__title{
  margin-bottom: var(--mb-5);
}

.home__title h1{
	font-family: emoji;
}

.home__title h2{
  font-size:clamp(var(--pixel-6), 8vw, var(--pixel-7));
  font-weight: var(--font-2);
}

.home__title span{
  color: var(--fifth-color);
  font-size: clamp(var(--pixel-8), 8vw, var(--pixel-9));
  font-weight: var(--font-2);
}

.home__title p{
  font-size: var(--pixel-10);
    width: var(--per-4);
    font-family: emoji;
}

.home__title-color{
  color: var(--first-color);
}

.home__name{
  display: flex;
}

.home__name img{
  width: var(--pixel-5);
  height: var(--pixel-5);
  margin-top: var(--pixel-11);
}

.home__social{
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: var(--mb-3);
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}


.home__social-linkedin {
  color:var(--sixth-color);
}
.home__social-facebook{
  margin: var(--pixel-12) var(--pixel-13);
  color:var(--seventh-color);
}
.home__social-github{
  color: var(--octave-color);
}
.home__social-github,  .home__.social-facebook, .home__social-linkedin{
 cursor: pointer;
}

/* ===== ABOUT =====*/
.about__container{
  row-gap: var(--mb-4);
  text-align: center;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: var(--pixel-14);
  border-radius: var(--mb-10);
}

/* ===== SKILLS =====*/
.skills__container{
  row-gap: var(--mb-4);
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}

/* ===== WORK =====*/
.work__container{
  row-gap: var(--mb-4);
}
.work__img{
  box-shadow: 0 var(--pixel-3) var(--pixel-15) var(--ninth-color);
  border-radius: var(--mb-10);
  overflow: hidden;
}

.work__img a img{
  height: var(--pixel-16);
}

.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}

/* ===== CONTACT =====*/

.contact__whatsapp i{ 
  color:var(--tenh-color);
}

.contact__outlook i{
  color:var(--eleventh-color);
}

.contact__whatsapp a ,.contact__outlook a{
  color:var(--twelfth-color);
}


.contact__info{
  font-size: var(--pixel-10);
    width: var(--per-5);
    margin-left: var(--per-6);
    margin-bottom: var(--pixel-13);
    font-family: emoji;
} 


/* ===== FOOTER =====*/
.footer{
  display: flex;
  background-color: var(--second-color);
  color: var(--third-color);
  text-align: center;
  font-weight: "Times New Roman";
  padding: var(--mb-4) 0;
}

.footer__info{
  width: var(--per-7);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.footer__social{
  display: flex;
  margin-right: 1vw;
  width: var(--per-8);
  align-items: center;
  justify-content: flex-end;
}

.footer__social a{
  margin: 0 var(--mb-11);
    max-height: var(--pixel-6);
}

.footer__social a i{
  font-size: var(--pixel-6);
}

.footer__social-whatsapp{
 color: var(--tenh-color);
}

.footer__icon{
  cursor: pointer;
  font-size: var(--pixel-17);
  color: var(--third-color);
  margin: 0 var(--mb-2);
}

.footer__icon i{
  color: var(--third-color);
}


/* ===== MEDIA QUERIES=====*/


@media screen and (min-width: 392px){
  
  .home__title h1 {
    font-family: emoji;
    margin-top: var(--pixel-18);
    font-size: var(--mb-12);
  }

  .home__title h2 {
    font-size: clamp(var(--pixel-8), 8vw, var(--pixel-7));
  }

  .home__title span {
    color: var(--fifth-color);
    font-size: var(--pixel-19);
  }

  .home__title p {
    font-size: var(--pixel-20);
    width: var(--per-9);
    font-family: emoji;
  }

  .home__name img {
    width: var(--pixel-19);
    height: var(--pixel-8);
    margin-top: var(--pixel-21);
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .button{
    padding: var(--mb-9) var(--mb-13);
  }

  .footer__info {
    width: var(--per-5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .footer__social {
      display: flex;
      margin-right: 1vw;
      width: var(--per-10);
      align-items: center;
      justify-content: flex-end;
  }
  
}


@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: var(--mb-14);
    padding-bottom: var(--mb-6);
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: var(--pixel-22);
    top: var(--mb-6);
  }

  .nav{
    height: calc(var(--header-height) + var(--mb-2));
  }

  .nav__menu{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .nav__list{
    display: flex;
    padding-top: 0;
    margin-right: var(--pixel-23);
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }

  .home__name img{
    width: var(--pixel-5);
    height: var(--pixel-5);
    margin-top: var(--pixel-11);
  }

  .home__social{
    padding-top: 0;
    padding-bottom: var(--mb-5);
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__title span{
    color:var(--fifth-color);
    font-size: clamp(var(--pixel-8), 8vw, var(--pixel-9));
    font-weight: var(--font-2);
  }

  .home__title p{
    font-size: var(--pixel-10);
      width: var(--per-5);
      font-family: emoji;
  }

  .home__title h1 {
    margin-top: var(--pixel-12);
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: var(--pixel-24);
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: var(--mb-4);
  }
  .contact__container{
    justify-items: center;
  }

  .footer__info {
    width: var(--per-7);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .footer__social {
      display: flex;
      margin-right: 1vw;
      width: var(--per-8);
      align-items: center;
      justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px){

  .home__title p{
    font-size: var(--pixel-10);
      width: var(--per-10);
      font-family: emoji;
  }

  .home__name img{
    width: var(--pixel-5);
    height: var(--pixel-5);
    margin-top: var(--pixel-25);
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .button{
    padding: var(--mb-9) var(--mb-5);
  }

  .footer__info {
    width: var(--per-7);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .footer__social {
      display: flex;
      margin-right: 1vw;
      width: var(--per-8);
      align-items: center;
      justify-content: flex-end;
  }
}