/* values */

#values {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  color: #000000;
}

.values {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.values img {
  border: none;
  margin: 1rem 0;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
}
